@import '../../../styles/customMediaQueries.css';

.root {
  display: flex;
  flex-direction: column;
}

.listingCardsMapVariant {
  padding: 0 0 96px 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
  width: 100%;

  @media (min-width: 550px) {
    grid-template-columns: repeat(2, 1fr); /* Max 2 per row */
  }

  @media (--viewportMedium), (--viewportLarge), (--viewportXLarge) {
    grid-template-columns: repeat(2, 1fr); /* Keep it at 2 per row */
  }
}

.listingCards {
  padding: 0 0 72px 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
  width: 100%;

  @media (min-width: 550px) {
    grid-template-columns: repeat(2, 1fr); /* Max 2 per row */
  }

  @media (--viewportMedium), (--viewportLarge), (--viewportXLarge) {
    grid-template-columns: repeat(1, 1fr); /* Lock at 2 per row */
  }
}

.listingCard {
  width: 100%;
}

.pagination {
  /* margin-top: auto; pushes pagination to the end of the page. */
  margin-top: auto;
  background-color: transparent;
}
