.root {
  /* SectionContainer defaults */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;

  /* Hero specific */
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: center; /* Centruoja horizontaliai */
  align-items: center; /* Centruoja vertikaliai (jei reikia) */
}

.buttonContainer button {
  display: inline-block;
  width: auto; /* Plotis tiek, kiek užima tekstas */
  padding: 10px 20px; /* Jei reikia papildomos erdvės aplink tekstą */
  min-height: 42px;
  font-size: 15px;
}